/* css styles */

img {
    width: 100% !important;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
}

.about-contents a {
   text-decoration: none;
   position: relative;
   color: #5a5a5a;
 }
 
 .about-contents a:hover::before {
   bottom: 0;
   height: 100%;
 }
 
 .about-contents a::before {
   content: '';
   background-color: #B5EAEA;
   position: absolute;
   z-index: -1;
   transition: all .3s ease-in-out;
 }
 
 .about-link:hover{
   background-color: #B5EAEA;
   color: #5a5a5a;
   height: 100%;
 }


.content .menu ul a{
  text-decoration: none;
  position: relative;
  color: #5a5a5a;
}

.content .menu ul a:hover::before{
  bottom: 0;
  height: 100%;
}

.content .menu ul a::before{
  content: '';
  background-color: #B5EAEA;
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 8px;
  z-index: -1;
  transition: all .3s ease-in-out;
}


.content .menu ul a:hover{
  background-color: #B5EAEA;
  color: #5a5a5a;
  height: 100%;
}

#quarto-content .menu li {
  list-style-type:" ⁕ ";
  color: black;
}

.link{
  border: none;
  text-decoration: none;
  position: relative;
  color: #5a5a5a;
  background-color:transparent;
  padding: 0px;   
}

.link:hover::before{
  bottom: 0;
  height: 100%;
}

.link::before {
  content: '';
  background-color:#B5EAEA;
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 8px;
  z-index: -1;
  transition: all .3s ease-in-out;
}

#reading-tag {
  background-color:#B5EAEA;
  color: #777;
  font-size: 10px !important;
}

body {
  overflow: overlay;
}

::-webkit-scrollbar-track
{
  width:10px;
  border: 9px solid transparent;
  background-clip: content-box;
	border-radius: 25px;
	background-color: rgba(95, 95, 95, 0.3);
}

::-webkit-scrollbar
{
	width:20px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb
{
  border: 6px solid transparent;
  background-clip: content-box;
  width: 10px;
	border-radius: 25px;
  padding-right: 1em;
	-webkit-box-shadow: inset 0 0 6px pink;
	background-color: #f19e8e;
}

::-webkit-scrollbar-track-piece{
  background-color: transparent;
}