/* css styles */


img {
    width: 100% !important;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
}

.about-contents a {
   text-decoration: none;
   position: relative;
   color: #5a5a5a;
 }
 
 .about-contents a:hover::before {
   bottom: 0;
   height: 100%;
 }
 
 .about-contents a::before {
   content: '';
   background-color: #B5EAEA;
   position: absolute;
   z-index: -1;
   transition: all .3s ease-in-out;
 }
 
 .about-links :hover{
   background-color: #B5EAEA;
   color: #5a5a5a;
   height: 100%;
 }


.content .menu ul a{
  text-decoration: none;
  position: relative;
  color: #5a5a5a;
}

.content .menu ul a:hover::before{
  bottom: 0;
  height: 100%;
}

.content .menu ul a::before{
  content: '';
  background-color: #B5EAEA;
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 8px;
  z-index: -1;
  transition: all .3s ease-in-out;
}


.content .menu ul a :hover{
  background-color: #B5EAEA;
  color: #5a5a5a;
  height: 100%;
}

#quarto-content .menu li {
  list-style-type:" ⁕ ";
  color: black;
}

.link{
  border: none;
  text-decoration: none;
  position: relative;
  color: #5a5a5a;
  background-color:transparent;
  padding: 0px;   
}

.link:hover::before{
  bottom: 0;
  height: 100%;
}

.link::before {
  content: '';
  background-color:#B5EAEA;
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 8px;
  z-index: -1;
  transition: all .3s ease-in-out;
}