/* css styles */


img {
    width: 60vw !important;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
}

 a {
  text-decoration: none;
  position: relative;
  color: #5a5a5a;
}

 a:hover::before {
  bottom: 0;
  height: 100%;
}

 a::before {
  content: '';
  background-color: #B5EAEA;
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 8px;
  z-index: -1;
  transition: all .3s ease-in-out;
}
